<div class="fs-20 fs-sm-16 font-weight-bold color-white bg-primary-dark">
	<div class="container d-flex justify-content-between">
		<ul class="d-flex col-gap-12 col-gap-sm-0 w-sm-100 justify-content-sm-between">
			<li><a href="javascrpt:void(0)" class="link-grown-v py-13px">最新消息</a></li>
			<li><a href="javascrpt:void(0)" class="link-grown-v py-13px">特別企劃</a></li>
			<li><a href="javascrpt:void(0)" class="link-grown-v py-13px">新品上市</a></li>
			<li><a href="javascrpt:void(0)" class="link-grown-v py-13px">鏡框小知識</a></li>
		</ul>
		
		<a href="javascrpt:void(0)" class="d-sm-none d-flex align-items-center px-5px">
			<span class="material-symbols-outlined fs-29">
				search
			</span>
		</a>
	</div>
</div>
