<footer class="bg-primary color-white pt-12 pb-8">
	<div class="container">
		
		<div class="d-sm-flex flex-direction-row-reverse justify-content-between">
			
			<div class="d-flex justify-content-between mb-6">
				<!-- Menu -->
				<ul class="d-flex col-gap-12 d-sm-none">
					<li><a href="./index.html" class="link-grown-v">首頁</a></li>
					<li><a href="javascript:void(0);" class="link-grown-v">系列鏡框</a></li>
					<li><a href="./store-list.html" class="link-grown-v">門市據點</a></li>
					<li><a href="javascript:void(0);" class="link-grown-v">部落格</a></li>
					<li><a href="javascript:void(0);" class="link-grown-v">常見問題</a></li>
				</ul>
	
				<!-- 社群 -->
				<ul class="d-flex col-gap-8 col-gap-md-4 col-gap-sm-2">
					<li><a href="javascript:void(0);"><img src="../assets/images/ic-social-fb.png" alt="Facebook" class="w-48px w-sm-24px"></a></li>
					<li><a href="javascript:void(0);"><img src="../assets/images/ic_social_ig.png" alt="Instagram" class="w-48px w-sm-24px"></a></li>
					<li><a href="javascript:void(0);"><img src="../assets/images/ic_social_line.png" alt="Line" class="w-48px w-sm-24px"></a></li>
				</ul>
			</div>
	
			<!-- 聯絡方式 -->
			<ul>
				<li class="mb-2">
					<a href="tel:+886-800000000" class="d-flex align-items-center w-fit-content">
						<span class="material-symbols-outlined fs-48 fs-sm-24 mr-4">call</span>
						<span class="fs-36 fs-sm-16">0800-000-000</span>
					</a>
				</li>
				<li>
					<a href="mailto:glasses@business.com" class="d-flex align-items-center w-fit-content">
						<span class="material-symbols-outlined fs-48 fs-sm-24 mr-4">mail</span>
						<span class="fs-36 fs-sm-16">glasses@business.com</span>
					</a>
				</li>
			</ul>
			
		</div>
		
		<hr class="border-color-white border-top-none my-8 mt-sm-6 mb-sm-4">
		
		<!-- 版權聲名、政策條款 -->
		<div class="d-flex justify-content-between flex-direction-sm-column row-gap-sm-2">
			<p class="font-roboto">Copyright © 2020 Glasses.All rights reserved.</p>
			
			<ul class="d-flex col-gap-12 fs-14 fs-sm-16 flex-direction-sm-column row-gap-sm-2">
				<li><a href="javascript:void(0);" class="link-grown-v">隱私權政策</a></li>
				<li><a href="javascript:void(0);" class="link-grown-v">服務條款</a></li>
			</ul>
		</div>
		
	</div>	<!-- container end -->
</footer>
