<header class="bg-primary color-white">
	<nav>
		
		<div class="container d-flex justify-content-between py-4">
			<h1>
				<span class="d-none">眼鏡世界</span>
				<a href="./index.html">
					<img src="../assets/images/logo-white.png" alt="眼鏡世界" class="w-80px">
				</a>
			</h1>
			
			<!-- 桌機、平板 menu -->
			<ul class="d-flex d-sm-none col-gap-16 fs-20">
				<li><a href="javascript:void(0);" class="link-grown-v">系列鏡框</a></li>
				<li><a href="./store-list.html" class="link-grown-v">門市據點</a></li>
				<li><a href="javascript:void(0);" class="link-grown-v">部落格</a></li>
				<li><a href="javascript:void(0);" class="link-grown-v">常見問題</a></li>
			</ul>
		</div>
		
		<!-- 手機 menu -->
		<ul class="d-none d-sm-flex flex-wrap">
			<li class="border-white w-50"><a href="javascript:void(0);" class="d-block py-3 text-align-center">系列鏡框</a></li>
			<li class="border-white w-50"><a href="./store-list.html" class="d-block py-3 text-align-center">門市據點</a></li>
			<li class="border-white w-50"><a href="javascript:void(0);" class="d-block py-3 text-align-center">部落格</a></li>
			<li class="border-white w-50"><a href="javascript:void(0);" class="d-block py-3 text-align-center">常見問題</a></li>
		</ul>
		
	</nav>
</header>