<section>
	<img src="../assets/images/<%=pic%>" alt="<%=alt%>">
	
	<!-- 基本資訊 -->
	<div class="fs-24 d-flex justify-content-between">
		<span class="font-roboto"><%=model%></span>
		<span class="font-roboto font-weight-medium color-primary">NTD<%=price%></span>
	</div>
	
	<!-- 選色 -->
	<div class="d-flex col-gap-2">
		<div class="square-rounded-24-4 bg-primary-600"></div>
		<div class="square-rounded-24-4 bg-primary-300"></div>
	</div>
</section>
