/* base：此專案所需要的全站樣式 */

// Debug
@if ($isDebug) {
	div, ul {
		outline-style: solid;
	}
}

*, *::before, *::after {
	// Box model
	box-sizing: border-box;
	
	// Debug
	@if ($isDebug) {
		outline: 1px dashed blue;
	}
}

img {
	// 自動適應視窗大小
	max-width: 100%;
	height: auto;
}

img, textarea {
	// 去除底部多餘空白
	vertical-align: middle;
}

// 表單元素
button, input, select, textarea {
	font-family: inherit;
	font-size: inherit;
}

// 按鈕
button, input[type=button], input[type=submit] {
	cursor: pointer;
	
	&:hover {
		opacity: 0.7;
	}
}

// 連結
a {
	text-decoration: none;
	color: inherit;
}
a:hover {
	opacity: 0.7;
}


body {
	font-family: "Noto Sans TC", sans-serif;
	line-height: 1.5;
}
