/*
	reboot：
	類似於 reset，做一些基本樣式的初始設定，以便於後續開發。
	這邊的設定都是切版基本會使用到的，因此可以適用於大部份專案。
*/

// Debug
@if ($isDebug) {
	div, ul {
		outline-style: solid;
	}
}

*, *::before, *::after {
	// Box model
	box-sizing: border-box;
	
	// Debug
	@if ($isDebug) {
		outline: 1px dashed blue;
	}
}

img {
	// 自動適應視窗大小
	max-width: 100%;
	height: auto;
}

img, textarea {
	// 去除底部多餘空白
	vertical-align: middle;
}

button, input, select, textarea {
	font-family: inherit;
	font-size: inherit;
}

a {
	text-decoration: none;
	color: inherit;
}