$isDebug: false;	// Debug 模式


// 格線系統
$gutter: 24px;
$gutter-half: calc($gutter / 2);
$gutter-half-negative: $gutter-half * -1;


// 用於產生 class 的斷點字樣
$class-md: 'md-';
$class-sm: 'sm-';


// 顏色
// 紅 (主色)
$color-primary: #AA0601;	// rgba(170, 6, 1, 1)
$color-primary-dark: #650300;	// rgba(101, 3, 0, 1)
$color-primary-light: #FBF2F2;	// rgba(251, 242, 242, 1)

$color-primary-300: #B75929;	// rgba(183, 89, 41, 1)
$color-primary-600: #5F3E2D;	// rgba(95, 62, 45, 1)

// 灰階
$color-dark-100: #F2F2F2;	// rgba(242, 242, 242, 1)
$color-dark-200: #DEE2E6;	// rgba(222, 226, 230, 1)
$color-dark-250: #DCDCDC;	// rgba(220, 220, 220, 1)
$color-dark-300: #CED4DA;	// rgba(206, 212, 218, 1)
$color-dark-500: #707070;	// rgba(112, 112, 112, 1)
$color-dark-600: #555555;	// rgba(85, 85, 85, 1)
$color-dark-700: #495057;	// rgba(73, 80, 87, 1)
$color-dark-800: #212529;	// rgba(33, 37, 41, 1)
$color-dark-900: #0A0A0A;	// rgba(10, 10, 10, 1)
$color-dark: #000;
$color-dark-a-20: #00000020;	// rgba(0, 0, 0, 0.13)
$color-dark-a-29: #00000029;	// rgba(0, 0, 0, 0.16)

// 白
$color-white: #fff;
