/* pagination：分頁 */

.pagination {
	font-family: "Roboto", "Noto Sans TC", sans-serif;
	font-size: 18px;
	color: $color-dark-600;
	display: flex;
	height: 48px;
	margin-left: auto;
	margin-right: auto;
	
	@include mobile {
		font-size: 16px;
		height: 45px;
	}
	
	
	&-item {
		border: 1px solid $color-dark-600;
	}
	
	&-previous {
		font-size: 19px;
		padding-left: 12px;
		padding-right: 12px;
		
		@include mobile {
			font-size: 16px;
			padding-left: 13px;
			padding-right: 13px;
		}
	}
	
	&-next {
		font-size: 19px;
		background-color: $color-dark-100;
		padding-left: 12px;
		padding-right: 12px;
		
		@include mobile {
			font-size: 16px;
			padding-left: 13px;
			padding-right: 13px;
		}
	}
	
	&-page {
		padding-left: 16px;
		padding-right: 16px;
		
		@include mobile {
			padding-left: 14px;
			padding-right: 14px;
		}
	}
	
	// link hover style
	.link-grown-v:hover {
		background-color: $color-dark-700;
		color: white;
	}
	
	// 動作中元素
	.active {
		background-color: black;
		color: white;
		pointer-events: none;
	}
}
