<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>眼鏡世界 - 部落閣</title>

	<%- include('./layout/link-resource'); -%>
</head>

<body>

	<%- include('./layout/header'); -%>
	
	<main class="container mt-24 mt-md-20 mt-sm-10 mb-20 mb-sm-16">
		
		<h2 class="title-primary mb-8 mb-sm-6">部落格</h2>
		
	</main>
	
	<%- include('./layout/footer'); -%>

	
	<script type="module" src="../main.js"></script>
</body>

</html>