<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>眼鏡世界</title>

	<%- include('./layout/link-resource'); -%>
</head>

<body>

	<%- include('./layout/header'); -%>

		<!-- Banner -->
		<section class="banner-bg py-74 py-sm-36 color-primary-dark text-align-right">
			<div class="container">
				<h2 class="mb-1 mb-sm-2">
					<span class="fs-36 fs-sm-16">Promise-Desert 2020 早春系列</span>
					<br>
					<span class="fs-64 fs-sm-24 font-weight-bold">看得清，才能看得遠</span>
				</h2>

				<a href="javascript:void(0);" class="btn-primary py-6px px-3 font-weight-medium fs-20">立即購買</a>
			</div>
		</section>


		<!-- Slogan -->
		<section class="section bg-primary-light">
			<div class="container">

				<h2 class="section-title mb-6">用專業的心，做專業的事</h2>

				<!-- Card -->
				<ul class="row row-gap-6">
					<li class="col-3 col-md-6 col-sm-4 d-flex flex-direction-column align-items-center">
						<img src="../assets/images/home-section2-1.png" alt="單一價格" class="w-100px mb-4">
						<h3 class="color-primary-dark font-weight-bold fs-24 mb-2">單一價格</h3>
						<p>無論任何度數皆不需追加費用即可擁有適合自己的薄型球面鏡片。</p>
					</li>

					<li class="col-3 col-md-6 col-sm-4 d-flex flex-direction-column align-items-center">
						<img src="../assets/images/home-section2-2.png" alt="20 分鐘即可取件" class="w-100px mb-4">
						<h3 class="color-primary-dark font-weight-bold fs-24 mb-2">20 分鐘即可取件</h3>
						<p>為了您的寶貴時間著想，以豐富專業知識與技術將結帳到交件的時間縮減至最快 20 分鐘即可完成。</p>
					</li>

					<li class="col-3 col-md-6 col-sm-4 d-flex flex-direction-column align-items-center">
						<img src="../assets/images/home-section2-3.png" alt="安心售後服務" class="w-100px mb-4">
						<h3 class="color-primary-dark font-weight-bold fs-24 mb-2">安心售後服務</h3>
						<p>我們提供長達 120 天的保固售後服務，不限會員資格皆享有免費深層保養及專業維修服務。</p>
					</li>

					<li class="col-3 col-md-6 col-sm-4 d-flex flex-direction-column align-items-center">
						<img src="../assets/images/home-section2-4.png" alt="關於鏡片" class="w-100px mb-4">
						<h3 class="color-primary-dark font-weight-bold fs-24 mb-2">關於鏡片</h3>
						<p>使用世界知名頂級品牌，抗UV、防汙鍍膜薄型非球面鏡片。</p>
					</li>
				</ul>

			</div>
		</section>


		<!-- 經典系列鏡框 -->
		<section class="section">
			<div class="container">

				<h2 class="section-title">經典系列鏡框</h2>

				<!-- Category card -->
				<ul class="row flex-direction-md-column align-items-md-center row-gap-6">
					<li class="col-4 col-md-6 col-sm-4">
						<a href="javascript:void(0);">
							<img src="../assets/images/home-section3-1.png" alt="optical" class="mb-2">
							<h3 class="category">OPTICAL</h3>
						</a>
					</li>

					<li class="col-4 col-md-6 col-sm-4">
						<a href="javascript:void(0);">
							<img src="../assets/images/home-section3-2.png" alt="sunglasses" class="mb-2">
							<h3 class="category">SUNGLASSES</h3>
						</a>
					</li>

					<li class="col-4 col-md-6 col-sm-4">
						<a href="javascript:void(0);">
							<img src="../assets/images/home-section3-3.png" alt="functional" class="mb-2">
							<h3 class="category">FUNCTIONAL</h3>
						</a>
					</li>
				</ul>

			</div>
		</section>


		<!-- 聯名設計鏡框 -->
		<section class="co-branded-bg section">
			<div class="container">

				<h2 class="section-title color-white">聯名設計鏡框</h2>

				<!-- Category card -->
				<ul class="d-flex flex-direction-md-column row-gap-6">
					<li class="w-50 w-md-100">
						<a href="javascript:void(0);">
							<picture>
								<source srcset="../assets/images/home-section4-1-sm.png" media="(max-width: 767px)">
								<img src="../assets/images/home-section4-1.png" alt="DOUBLE A+" class="h-240px w-100">
							</picture>
							<h3 class="category bg-white py-2 border-right border-color-dark-200 border-md-none">DOUBLE
								A+</h3>
						</a>
					</li>

					<li class="w-50 w-md-100">
						<a href="javascript:void(0);">
							<picture>
								<source srcset="../assets/images/home-section4-2-sm.png" media="(max-width: 767px)">
								<img src="../assets/images/home-section4-2.png" alt="youth" class="h-240px w-100">
							</picture>
							<h3 class="category bg-white py-2">YOUTH</h3>
						</a>
					</li>
				</ul>

			</div>
		</section>


		<!-- 顧客推薦 -->
		<section class="section">
			<div class="container">

				<h2 class="section-title">顧客推薦</h2>

				<!-- Card -->
				<ul class="row row-gap-6 row-gap-sm-4">
					<li class="col-3 col-md-6 col-sm-4">
						<img src="../assets/images/home-section5-1.png" alt="Jessy">
						<div class="card-customer">
							<div>
								<p class="card-customer-header">Jessy</p>
								<h3>眼鏡品質優良，下次還會想來這邊購買！</h3>
							</div>
							<time datetime="2021-06-20" class="card-customer-footer">2021/06/20</time>
						</div>
					</li>

					<li class="col-3 col-md-6 col-sm-4">
						<img src="../assets/images/home-section5-2.png" alt="凱倫">
						<div class="card-customer">
							<div>
								<p class="card-customer-header">凱倫</p>
								<h3>做工細緻、鏡架很輕盈，待久也不會覺得有負擔，推薦給大家！</h3>
							</div>
							<time datetime="2021-04-18" class="card-customer-footer">2021/04/18</time>
						</div>
					</li>

					<li class="col-3 col-md-6 col-sm-4">
						<img src="../assets/images/home-section5-3.png" alt="悠悠">
						<div class="card-customer">
							<div>
								<p class="card-customer-header">悠悠</p>
								<h3>謝謝客服人員的詳細回答，成功買到了喜歡的眼鏡，下次會再回購！</h3>
							</div>
							<time datetime="2021-12-25" class="card-customer-footer">2020/12/25</time>
						</div>
					</li>

					<li class="col-3 col-md-6 col-sm-4">
						<img src="../assets/images/home-section5-4.png" alt="Kyuan">
						<div class="card-customer">
							<div>
								<p class="card-customer-header">Kyuan</p>
								<h3>服務很好，品質沒有任何問題，非常喜歡。</h3>
							</div>
							<time datetime="2021-10-31" class="card-customer-footer">2020/10/31</time>
						</div>
					</li>
				</ul>

			</div>
		</section>


		<!-- 聯絡我們 -->
		<section class="section bg-primary-light">
			<div class="container">

				<h2 class="section-title mb-md-6">聯絡我們</h2>

				<div class="row justify-content-center">
					<p class="col-6 col-md-10 col-sm-4 fs-20 fs-md-16 mb-6">
						我們相當重視您的意見，若您有任何疑問，可先參考「常見問題」，若仍有任何問題，請填妥以下資料，我們會在近期與您聯繫。
					</p>
				</div>

				<form action="javascript:void(0);" class="row flex-direction-column align-items-center">

					<div class="col-6 col-md-10 col-sm-4">
						<label class="d-block mb-4">
							<span class="d-block mb-2">姓名</span>
							<input type="text" placeholder="陳小明" class="input">
						</label>

						<label class="d-block mb-4">
							<span class="d-block mb-2">聯絡電話</span>
							<input type="tel" placeholder="0912-345-678" class="input font-roboto">
						</label>

						<label class="d-block mb-4">
							<span class="d-block mb-2">電子郵件</span>
							<input type="email" placeholder="example@email.com" class="input font-roboto">
						</label>

						<label class="d-block mb-4">
							<span class="d-block mb-2">意見反應</span>
							<textarea placeholder="請輸入您的意見" class="input h-136px resize-none"></textarea>
						</label>

						<label class="d-flex mb-12 mb-sm-6">
							<input type="checkbox" class="checkbox">
							<span class="ml-1">我同意隱私權政策，並同意依隱私權政策中所述的方式處理自己的資料。</span>
						</label>
					</div>

					<button type="submit"
						class="btn-primary btn-primary-hover col-4 col-md-6 col-sm-4 font-weight-bold py-4">確認送出</button>
				</form>


			</div>
		</section>

		<%- include('./layout/footer'); -%>

		<script type="module" src="../main.js"></script>
</body>

</html>